
html,  body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: 'Avenir LT Std 85 Heavy';
  font-weight:normal;
  background:#08194A;
  color: #FFFFFF;
}

/*========
Resusbale Classes
========*/

.active {
  border-right: 5px solid #F28C32;
}
.section {
  padding: 5em 0;
}

.call-btn-holder {
  position: absolute;
  top: 1em;
  right: 5em;
}
.call-btn-holder a {
  color: #FFFFFF;
  text-decoration: none;
}
/*========
Sidebar
========*/

#sideNav {
   background-color: #10255A;
    width: 25%;
    position: fixed;
    height: 100%;
    padding: 0 !important;
    overflow: auto;
}

.sidebar {
  display: block;
  
}

.sidebar .sidebar--logo {
  padding: 50px 10px;
  display:inline-block;
  display: flex;
  justify-content: center;

}

.sidebar .sidebar--logo img {
  display: block;
  margin: 0 auto;
}
.sidebar .sidebar--links {
  color: #FFF;
  width: 100%;
  height: 100%;

}
.sidebar .sidebar--links ul {
  list-style: none;
  padding:50px 0 50px 50px !important;
  width: 100%;
}
.sidebar .sidebar--links ul li {
  line-height: 4em;
  font-size: 15px;
  text-align: left;
 
}
.sidebar .sidebar--links ul li a {
  color: #FFFFFF;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 900;

}
@media (max-width:960px) {
  #sideNav {
    display:none;
 }
}

/*========
Main Content
========*/

#mainContent {
  position: absolute;
  left: 25%;
  height: 100%;
  width: 75%;
  color: #FFFFFF;
  padding:0 73px;
}
@media (max-width:960px) {
  #mainContent {
    width: 100%;
    left: 0;
  }
}
.main {

}
.main .intro {
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 6em 0;
}
.main .intro .intro-content {
  padding: 10px 0;
  line-height: 2em;
}
.main .intro .intro-content h1 {
  font-size:64px;
}
.main .intro .intro-content p {
  font-size:16px;
  font-family:'Avenir LT Std 55 Roman' !important;
  font-weight:normal;
  word-spacing: 2em;
}
.main .intro .intro-content .intro-btn {
  background: #F28C32;
  color: #FFFFFF;
  border-radius: 20px;

}
.intro .intro--social {
  text-align: right;
}
.intro .intro--social ul {
  list-style: none;
  padding:0 !important;
  
}
.intro .intro--social ul li a {
  line-height: 4em;
  color:#FFFFFF;
  background: #0E2054;
  padding: 8px 12px;
  border-radius: 5px;
}

.section h3 {
  font-size: 22px !important;
}
.section p {
  font-size: 13px !important;
  font-weight:lighter;
  line-height: 20px;
  text-align: left;
}