html,
body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: 'Avenir LT Std 85 Heavy';
  font-weight: normal;
  background: #08194A;
  color: #FFFFFF;
}

/*========
Resusbale Classes
========*/

.active {
  border-right: 5px solid #F28C32;
}

.section {
  padding: 5em 0;
}

@media (max-width:960px) {
  .section {
    padding: 2em 0;
  }
}

.call-btn-holder {
  position: absolute;
  top: 1em;
  right: 104px;
  z-index: 9999999;
}

@media (max-width:960px) {
  .call-btn-holder {
    right: 14px;
  }
}

.call-btn-holder a {
  color: #FFFFFF;
  text-decoration: none;
}

.title {
  font-size: 44px;
  line-height: 1.5em;
}

.sub-title {
  font-size: 19px;
  line-height: 1em;
  font-family: 'Avenir LT Std 55 Roman' !important;
}
@media (max-width:960px) {
  .title {
    font-size: 30px;
    line-height: 1em;
  }
  
  .sub-title {
    font-size: 15px;
    line-height:1em;
    font-family: 'Avenir LT Std 55 Roman' !important;
  }
}

.design-btn {
  background: #F28C32;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
}

.design-btn:hover {
  color: #FFFFFF;
}

.clear {
  margin: 0 !important;
  padding: 0 !important;
}

/*========
Sidebar
========*/

#sideNav {
  background-color: #10255A;
  width: 25%;
  position: fixed;
  height: 100%;
  padding: 0 !important;
  overflow: auto;
}

.sidebar {
  display: block;

}

.sidebar .sidebar--logo {
  padding: 50px 10px;
  display: inline-block;
  display: flex;
  justify-content: center;

}

.sidebar .sidebar--logo img {
  display: block;
  margin: 0 auto;
}

.sidebar .sidebar--links {
  color: #FFF;
  width: 100%;
  height: 100%;

}

.sidebar .sidebar--links ul {
  list-style: none;
  padding: 50px 0 50px 50px !important;
  width: 100%;
}

.sidebar .sidebar--links ul li {
  line-height: 4em;
  font-size: 15px;
  text-align: left;

}

.sidebar .sidebar--links ul li a {
  color: #FFFFFF;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 900;

}

@media (max-width:960px) {
  #sideNav {
    display: none;
  }
}

/*========
Main Content
========*/

#mainContent {
  position: absolute;
  left: 25%;
  height: 100%;
  overflow: hidden;
  width: 75%;
  color: #FFFFFF;

}

@media (max-width:960px) {
  #mainContent {
    width: 100%;
    overflow: auto;
    left: 0;
  }
}

.main {
  padding: 0 73px;

}

@media (max-width:960px) {
  .main {
    padding: 0 10px;
  }
}

.main .intro {
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 6em 0;
}

.main .intro .intro-content {
  padding: 10px 0;
  line-height: 2em;
}

.main .intro .intro-content h1 {
  font-size: 64px;
}

.main .intro .intro-content p {
  font-size: 16px;
  font-family: 'Avenir LT Std 55 Roman' !important;
  font-weight: normal;
  word-spacing: 2em;
}

.intro .intro--social {
  text-align: center;
}

.intro .intro--social ul {
  list-style: none;
  padding: 0 !important;

}

.intro .intro--social ul li a {
  line-height: 4em;
  color: #FFFFFF;
  background: #0E2054;
  padding: 8px 12px;
  border-radius: 5px;
}

@media (max-width:960px) {
  .main .intro {
    min-height: 50vh;
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1em;
  }

  .main .intro .intro-content h1 {
    font-size: 50px;
  }

  .main .intro .intro-content p {
    font-size: 12px;
    font-family: 'Avenir LT Std 55 Roman' !important;
    font-weight: normal;
    word-spacing: 1.2em;
  }

  .main .intro .intro-content .design-btn {
    margin: 10px auto;
  }

  .intro .intro--social {
    text-align: left;
    padding: 0 !important;
    margin: 10px auto;
  }

  .intro .intro--social ul li {
    display: inline;
    letter-spacing: 5px;
  }
}

.section h3 {
  font-size: 22px !important;
}

.section p {
  font-size: 13px !important;
  font-weight: lighter;
  line-height: 20px;
  text-align: left;
}

.section .vision, 
.section .company {
  margin: 20px 0 !important;
}
/*========
Our Work
========*/
.gallery-item {
  position: relative;
  padding: 0 !important
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 33.3vh;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  transition: .5s ease;
  background-color: #008CBA;
}

/*========
Contact us
========*/
.contact-area {
  min-height: 100vh;
  padding: 94px 73px;
}



.contact-area .form-area {
  padding: 52px 0;
}

.contact-area .form-area .contact-form .form-group .label {
  font-size: 15px;
}

.contact-area .form-area .contact-form .form-group .sub-label {
  font-size: 12px;
}

.contact-area .form-area .contact-form .form-group .form-field {
  width: 100%;
  background: #152A60;
  padding: 8px;
  border: none;
  color: #FFFFFF;
}

.contact-area .form-area .contact-form .form-group .form-field:focus {
  outline: none;
}

.contact-area .form-area .contact-form .form-group [type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.contact-area .form-area .contact-form .form-group [type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #FFFFFF;
}

.contact-area .form-area .contact-form .form-group [type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 0;
}

.contact-area .form-area .contact-form .form-group [type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-area .form-area .contact-form .form-group [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.contact-area .form-area .contact-form .form-group [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contact-area .form-area .contact-form .design-btn {
  padding: 10px 50px;
}
@media (max-width:960px) {
  .contact-area .form-area {
    padding:26px 0;
  }
  .contact-area {
    min-height: 100vh;
    padding: 94px 10px;
  }
  .contact-area .form-area .contact-form .form-group [type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #FFFFFF;
}
}